<div id="game-container">
    <h1>Twitch Battle Game</h1>
    <div>
      <input type="text" [(ngModel)]="username" placeholder="Enter your Twitch username">
      <select [(ngModel)]="weapon">
        <option value="Sword">Sword</option>
        <option value="Bow">Bow</option>
        <option value="Magic Wand">Magic Wand</option>
      </select>
      <button (click)="joinGame()">Join Game</button>
    </div>
    <app-player-list [players]="players"></app-player-list>
    <app-winner *ngIf="winner" [winner]="winner"></app-winner>
  </div>
  