body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#game-container {
    margin-top: 50px;
}

#players-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
}

#winner-container {
    margin-top: 20px;
}
